@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "IBM Plex Sans Thai", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 200%;
  font-size: initial;
}

.heading {
  font-size: 3rem;
  margin-bottom: 5rem;
  line-height: 0;
}

.label {
  font-family: "IBM Plex Sans Thai Looped", serif;
  font-weight: 500;
  font-style: normal;
}

a {
  font-family: "IBM Plex Sans Thai Looped", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

a:hover,
a:focus {
  opacity: 0.6;
  text-decoration: none;
  color: black;
}

ul {
  padding-inline-start: 40px;
  font-size: initial;
}
ul li {
  line-height: 2rem;
}

header {
  padding: 1.5rem 2rem;
}
header .nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
header .nav .logo img {
  width: 100px;
  height: auto;
}
header .nav .logo .contact-sp {
  display: none;
}
header .nav .menu a {
  margin-right: 2rem;
}
header .nav .contact {
  display: flex;
  align-items: center;
}
header .nav .contact a {
  margin-left: 1rem;
}
header .nav .contact a img.app {
  width: 24px;
  height: auto;
}
header .nav .contact a:first-child {
  margin-left: 0;
}
header .nav .contact .callme {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
header .nav .contact .callme .material-symbols-outlined {
  margin-right: 4px;
}

.wrapper .section {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
}
.wrapper .hero .section {
  flex-direction: row;
}
.wrapper .hero .left {
  width: 60%;
}
.wrapper .hero .left .caption h1 {
  font-size: 6em;
}
.wrapper .hero .left .caption .tagline {
  font-size: 2.5em;
  margin-bottom: 2rem;
  line-height: 3.5rem;
}
.wrapper .hero .left .caption .keys {
  display: flex;
  align-items: center;
}
.wrapper .hero .left .caption .keys .keys-item {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-right: 1.5rem;
}
.wrapper .hero .left .caption .keys .keys-item .icon {
  font-size: 24px;
  margin-right: 8px;
}
.wrapper .hero .right {
  width: 40%;
  text-align: right;
}
.wrapper .hero .right iframe {
  width: 300px;
  height: 500px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.wrapper .feature {
  background: #f8f8f8;
}
.wrapper .feature .feature-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.wrapper .feature .feature-container .feature-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: white;
  padding: 1.5rem 0.5rem;
  margin: 2rem 1rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 10px;
}
.wrapper .feature .feature-container .feature-item .icon {
  margin-bottom: 0.5rem;
}
.wrapper .feature .feature-container .feature-item .icon .material-symbols-outlined {
  font-size: 48px;
}
.wrapper .feature .feature-container .feature-item .title {
  font-size: 1em;
  margin-bottom: 0.5rem;
}
.wrapper .feature .feature-container .feature-item .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrapper .feature .feature-container .feature-item .text .main {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.wrapper .feature .feature-container .feature-item .text .sub {
  font-size: 0.75em;
  line-height: normal;
}
.wrapper .gallery {
  background: #e9f1ed;
}
.wrapper .gallery .section {
  flex-direction: column;
}
.wrapper .gallery .gallery-container {
  width: 60%;
  margin: 0 auto;
}
.wrapper .gallery .gallery-container #main-carousel .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.wrapper .gallery .gallery-container #thumbnail-carousel {
  padding: 1rem 0;
}
.wrapper .gallery .gallery-container #thumbnail-carousel .splide__slide {
  cursor: pointer;
  opacity: 0.5;
}
.wrapper .gallery .gallery-container #thumbnail-carousel .splide__slide.is-active {
  opacity: 1;
  border: 0;
}
.wrapper .gallery .gallery-container #thumbnail-carousel .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.wrapper .gallery .more-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.wrapper .gallery .more-gallery a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1.25rem;
  border: 1px solid black;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.wrapper .gallery .more-gallery a p {
  font-size: 1.2em;
  margin: 0;
}
.wrapper .gallery .more-gallery a .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  margin-left: 4px;
}
.wrapper .detail .section {
  flex-direction: column;
}
.wrapper .detail .section .detail-container {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .detail .section .detail-container .box-1,
.wrapper .detail .section .detail-container .box-2,
.wrapper .detail .section .detail-container .box-3 {
  width: 50%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-right: 5rem;
}
.wrapper .detail .section .detail-container .box-1 .title,
.wrapper .detail .section .detail-container .box-2 .title,
.wrapper .detail .section .detail-container .box-3 .title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.wrapper .detail .section .detail-container .box-1 .title .icon,
.wrapper .detail .section .detail-container .box-2 .title .icon,
.wrapper .detail .section .detail-container .box-3 .title .icon {
  font-size: 30px;
  margin-right: 8px;
}
.wrapper .detail .section .detail-container .box-1 .title .label,
.wrapper .detail .section .detail-container .box-2 .title .label,
.wrapper .detail .section .detail-container .box-3 .title .label {
  font-size: 1.5em;
}
.wrapper .detail .section .detail-container .box-1 .info,
.wrapper .detail .section .detail-container .box-2 .info,
.wrapper .detail .section .detail-container .box-3 .info {
  font-family: "IBM Plex Sans Thai", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
.wrapper .detail .section .detail-container .box-1 .info ul li,
.wrapper .detail .section .detail-container .box-2 .info ul li,
.wrapper .detail .section .detail-container .box-3 .info ul li {
  margin-bottom: 1rem;
}
.wrapper .detail .section .detail-container .box-1 ul li i {
  font-size: 14px;
  margin-right: 10px;
}
.wrapper .detail .section .detail-container .box-2 ul li i {
  font-size: 5px;
  margin-right: 10px;
}
.wrapper .detail .section .detail-container .box-2 .fa-li {
  top: -4px;
}
.wrapper .detail .section .detail-container .box-3 .map p {
  font-weight: 400;
}
.wrapper .detail .section .detail-container .box-3 .map a {
  font-weight: 300;
  margin-left: 0.5rem;
  text-decoration: underline;
}
.wrapper .detail .section .detail-container .box-3 .gg-map iframe {
  width: 100%;
  height: 150px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: 0;
}
.wrapper .step {
  background: #f8f8f8;
}
.wrapper .step .section {
  flex-direction: column;
}
.wrapper .step .step-container {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .step .step-container .box-1,
.wrapper .step .step-container .box-2 {
  width: 50%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-right: 5rem;
}
.wrapper .step .step-container .box-1 .title,
.wrapper .step .step-container .box-2 .title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.wrapper .step .step-container .box-1 .title .icon,
.wrapper .step .step-container .box-2 .title .icon {
  font-size: 30px;
  margin-right: 8px;
}
.wrapper .step .step-container .box-1 .title .label,
.wrapper .step .step-container .box-2 .title .label {
  font-size: 1.5em;
}
.wrapper .step .step-container .box-1 .info,
.wrapper .step .step-container .box-2 .info {
  font-family: "IBM Plex Sans Thai", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
.wrapper .step .step-container .box-1 .info ul li,
.wrapper .step .step-container .box-2 .info ul li {
  margin-bottom: 1rem;
}
.wrapper .step .step-container .box-1 ul li i,
.wrapper .step .step-container .box-2 ul li i {
  font-size: 5px;
  margin-right: 10px;
}
.wrapper .step .step-container .box-1 .fa-li,
.wrapper .step .step-container .box-2 .fa-li {
  top: -4px;
}
.wrapper .step .step-container .box-1 .fa-square,
.wrapper .step .step-container .box-2 .fa-square {
  font-size: 10px;
}
.wrapper .step .step-container .box-1 .fa-li.sub-li,
.wrapper .step .step-container .box-2 .fa-li.sub-li {
  top: -2px;
}
.wrapper .faq .section {
  flex-direction: column;
}
.wrapper .faq ul.list-in-faq {
  font-family: "IBM Plex Sans Thai", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 200%;
}
.wrapper .faq ul.list-in-faq li {
  margin-bottom: 1rem;
}
.wrapper .faq .ui.accordion .title {
  font-family: "IBM Plex Sans Thai", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 200%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: black;
  padding: 2rem 0;
}
.wrapper .faq .ui.accordion .title .heading-title {
  font-size: 1.2em;
  padding-right: 16px;
  line-height: 2rem;
}
.wrapper .faq .ui.accordion .content {
  padding: 0;
  padding-bottom: 1rem;
}
.wrapper .faq .ui.accordion .title .dropdown.icon:before {
  font-family: "FontAwesome";
  font-size: 1em;
  content: "ï„‡";
}
.wrapper .faq .ui.accordion .active.title .dropdown.icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.wrapper .faq .ui.styled.accordion {
  width: 100%;
  box-shadow: none;
}

footer {
  background: #f2f2f2;
}
footer .section {
  flex-direction: column;
  padding: 2rem 0;
}
footer .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .info .logo img {
  width: 100px;
  height: auto;
}
footer .info .contact {
  display: flex;
  align-items: center;
}
footer .info .contact a {
  margin-left: 1rem;
}
footer .info .contact a img.app {
  width: 24px;
  height: auto;
}
footer .info .contact .callme {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
footer .info .contact .callme .material-symbols-outlined {
  margin-right: 4px;
}
footer .copyright {
  font-size: 10px;
  text-align: center;
  padding-top: 1rem;
  opacity: 0.5;
  letter-spacing: 1px;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  ul {
    padding-inline-start: 20px;
  }

  .heading {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
    line-height: 0;
  }

  header {
    padding: 1rem 20px;
  }
  header .nav {
    flex-direction: column;
  }
  header .nav .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .nav .logo .contact-sp {
    display: flex;
    align-items: center;
  }
  header .nav .logo .contact-sp a {
    margin-left: 1rem;
  }
  header .nav .logo .contact-sp a img.app {
    width: 24px;
    height: auto;
  }
  header .nav .logo .contact-sp .callme {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  header .nav .logo .contact-sp .callme .material-symbols-outlined {
    margin-right: 4px;
  }
  header .nav .menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
  }
  header .nav .menu a {
    margin-right: 0;
    display: inline-flex;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    padding: 4px 10px;
    border: 1px solid black;
    font-size: 0.85em;
    line-height: 24px;
  }
  header .nav .contact {
    display: none;
  }

  .wrapper .section {
    max-width: 100%;
    padding: 4rem 20px 4rem 20px;
  }
  .wrapper .hero .section {
    flex-direction: column;
    padding-top: 0;
  }
  .wrapper .hero .left {
    width: 100%;
    text-align: center;
  }
  .wrapper .hero .left .caption h1 {
    font-size: 3em;
  }
  .wrapper .hero .left .caption .tagline {
    font-size: 1.5em;
    margin-bottom: 1rem;
    line-height: 2.5rem;
  }
  .wrapper .hero .left .caption .keys {
    justify-content: center;
  }
  .wrapper .hero .left .caption .keys .keys-item {
    font-size: 1.2em;
    margin-right: 1rem;
  }
  .wrapper .hero .left .caption .keys .keys-item .icon {
    font-size: 20px;
  }
  .wrapper .hero .right {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .wrapper .hero .right iframe {
    width: 320px;
    height: 500px;
  }
  .wrapper .feature .feature-container {
    flex-wrap: wrap;
  }
  .wrapper .feature .feature-container .feature-item {
    width: 45%;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
  }
  .wrapper .feature .feature-container .feature-item .icon {
    margin-bottom: 0;
  }
  .wrapper .feature .feature-container .feature-item .icon .material-symbols-outlined {
    font-size: 35px;
  }
  .wrapper .feature .feature-container .feature-item .title {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
  .wrapper .feature .feature-container .feature-item .text .main {
    font-size: 1em;
    line-height: 1.25rem;
  }
  .wrapper .feature .feature-container .feature-item .text .sub {
    font-size: 0.65em;
  }
  .wrapper .gallery .gallery-container {
    width: 100%;
    margin: 0 auto;
  }
  .wrapper .gallery .gallery-container .splide__slide.is-active.is-visible {
    width: 80px;
  }
  .wrapper .detail .section .detail-container .box-1,
.wrapper .detail .section .detail-container .box-2,
.wrapper .detail .section .detail-container .box-3 {
    width: 100%;
    margin-bottom: 1rem;
    padding-right: 0;
  }
  .wrapper .detail .section .detail-container .box-1 .title,
.wrapper .detail .section .detail-container .box-2 .title,
.wrapper .detail .section .detail-container .box-3 .title {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .wrapper .detail .section .detail-container .box-1 .title .icon,
.wrapper .detail .section .detail-container .box-2 .title .icon,
.wrapper .detail .section .detail-container .box-3 .title .icon {
    font-size: 26px;
    margin-right: 8px;
  }
  .wrapper .detail .section .detail-container .box-1 .title .label,
.wrapper .detail .section .detail-container .box-2 .title .label,
.wrapper .detail .section .detail-container .box-3 .title .label {
    font-size: 1.5em;
  }
  .wrapper .detail .section .detail-container .box-3 .gg-map iframe {
    width: 100%;
    height: 200px;
  }
  .wrapper .step .step-container .box-1,
.wrapper .step .step-container .box-2 {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-right: 0;
  }
  .wrapper .step .step-container .box-1 .title,
.wrapper .step .step-container .box-2 .title {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .wrapper .step .step-container .box-1 .title .icon,
.wrapper .step .step-container .box-2 .title .icon {
    font-size: 26px;
  }
  .wrapper .step .step-container .box-1 .title .label,
.wrapper .step .step-container .box-2 .title .label {
    font-size: 1.5em;
  }
  .wrapper .step .step-container .box-1 .info,
.wrapper .step .step-container .box-2 .info {
    font-family: "IBM Plex Sans Thai", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
  }
  .wrapper .step .step-container .box-1 .info ul li,
.wrapper .step .step-container .box-2 .info ul li {
    margin-bottom: 1rem;
  }
  .wrapper .step .step-container .box-1 ul li i,
.wrapper .step .step-container .box-2 ul li i {
    font-size: 5px;
    margin-right: 10px;
  }
  .wrapper .step .step-container .box-1 .fa-li,
.wrapper .step .step-container .box-2 .fa-li {
    top: -4px;
  }
  .wrapper .step .step-container .box-1 .fa-square,
.wrapper .step .step-container .box-2 .fa-square {
    font-size: 10px;
  }
  .wrapper .step .step-container .box-1 .fa-li.sub-li,
.wrapper .step .step-container .box-2 .fa-li.sub-li {
    top: -2px;
  }
  .wrapper .step .step-container .box-2 {
    margin-bottom: 0;
  }
  .wrapper .faq .faq-container .ui.accordion .title {
    padding: 1rem 0;
  }
  .wrapper .faq .faq-container .ui.accordion .title .heading-title {
    padding-right: 16px;
    line-height: 2rem;
  }
  .wrapper .faq .faq-container .ui.accordion .content {
    padding: 0;
    padding-bottom: 1rem;
  }

  footer .section {
    padding: 2rem 0;
  }
  footer .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .info .logo {
    margin-bottom: 2rem;
  }
}